# Newsletter host and form identifiers
REACT_APP_NEWSLETTER_BASE_URL=
REACT_APP_NEWSLETTER_FORM_ID=

REACT_APP_NEWSLETTER_SUBMIT_URL=

# Newsletter honeypot field name
REACT_APP_NEWSLETTER_HONEYPOT_NAME=

# Routes used for newsletter user-facing status pages
REACT_APP_NEWSLETTER_SUBSCRIBED_PATH=
REACT_APP_NEWSLETTER_CONFIRMATION_ERROR_PATH=
REACT_APP_NEWSLETTER_UNSUBSCRIBED_PATH=
