@font-face {
	font-family: "Hind";
	src:
		url("/public/Hind-Medium.ttf") format("tff"),
		url("/public/Hind-Regular.ttf") format("ttf");
}

* {
	font-family: "Hind", sans-serif !important;
}

.cards {
	background-image: linear-gradient(-225deg, #3d4e81 0%, #5753c9 48%, #6e7ff3 100%);
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #484848;
}

.progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 10px;
	background: #414f8d;
	transform-origin: 0%;
}

button:hover {
	background-color: #383939 !important;
}

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loader {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #333;
}

.loader-inner:nth-child(1) {
	animation: loader-animation 0.8s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.loader-inner:nth-child(2) {
	animation: loader-animation 0.8s cubic-bezier(0.165, 0.84, 0.44, 1.02) 0.125s infinite;
}

.loader-inner:nth-child(3) {
	animation: loader-animation 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.25s infinite;
}

.loader-inner:nth-child(4) {
	animation: loader-animation 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.375s infinite;
}

.loader-inner:nth-child(5) {
	animation: loader-animation 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s infinite;
}

.loader-inner:nth-child(6) {
	animation: loader-animation 0.8s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.625s infinite;
}

.loader-inner:nth-child(7) {
	animation: loader-animation 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.75s infinite;
}

.loader-inner:nth-child(8) {
	animation: loader-animation 0.8s cubic-bezier(0.93, 0.095, 0.88, 0.26) 0.875s infinite;
}

@keyframes loader-animation {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(0.3);
	}
	40% {
		transform: scale(1);
	}
}

.menu-link {
	text-decoration: none;
	color: inherit;
	padding: 10px;
	transition: color 0.3s ease;
}

.menu-link:hover {
	color: #ff5722;
}
