.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #d1e6e6;
}

.loader {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loader h2 {
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 20px;
	color: #8bc0e3;
}

.loading02 {
	display: flex;
	gap: 5px;
}

.loading02 span {
	display: inline-block;
	font-size: 50px;
	font-weight: bold;
	color: #0c3e60;
	animation: loading02 1.2s infinite alternate;
}

.loading02 span:nth-child(1) {
	animation-delay: 0s;
}
.loading02 span:nth-child(2) {
	animation-delay: 0.2s;
}
.loading02 span:nth-child(3) {
	animation-delay: 0.4s;
}
.loading02 span:nth-child(4) {
	animation-delay: 0.6s;
}
.loading02 span:nth-child(5) {
	animation-delay: 0.8s;
}
.loading02 span:nth-child(6) {
	animation-delay: 1s;
}
.loading02 span:nth-child(7) {
	animation-delay: 1.2s;
}

/* Animation keyframes */
@keyframes loading02 {
	0% {
		filter: blur(0);
		opacity: 1;
	}
	100% {
		filter: blur(5px);
		opacity: 0.2;
	}
}
