* {
	font-family: Inter, sans-serif;
}
/* =======================  hero section ========================== */
.hero-container {
	background-color: #edf3fd;
	overflow: hidden;
	position: relative;
	margin-top: 56px;
	background-color: #f0f4f8;
	padding: 20px;
}

.hero-title {
	font-weight: bold;
	color: #333;
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 1.5rem;
	margin-top: 3rem;
}

.hero-highlight {
	color: #041c94;
}

.hero-description {
	margin-top: 1rem;
	color: #6c757d;
	padding: 0 20px;
}

.hero-image {
	max-height: 500px;
	object-fit: cover;
	padding: 10px;
}

@media (max-width: 767px) {
	.hero-buttons {
		flex-direction: column;
	}
}

.hero-buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
}

@media (min-width: 768px) {
	.hero-buttons {
		flex-direction: row;
		justify-content: start;
		gap: 1rem;
	}
}

@media (min-width: 992px) {
	.hero-buttons {
		gap: 1.5rem;
	}
}

.hero-btn {
	width: 160px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	font-weight: bold;
}

.button-title .github {
	color: #020721;
	font-weight: 400;
}

.android-btn {
	background-color: #041c94 !important;
	color: #fff;
}

.apple-btn {
	background-color: #fff !important;
	color: #1c222c !important;
	border: 1px solid #05035a;
}

.github-btn {
	background-color: #a09d9d !important;
	color: #fff;
	font-weight: 400 !important;
}

.hero-icon {
	max-width: 30px;
	margin-right: 8px;
}

/* -------------- blog --------------------- */
.blog-section {
	padding: 2rem 0;
}

.Readmore {
	color: "#041c94";
	text-decoration: none;
	font-weight: "600";
	display: "inline-flex";
	align-items: "center";
	transition: "background-color 0.3s, color 0.3s";
	padding: "0.5rem 0";
}
/* ================ faq ===================== */

.faq-section {
	padding: 3rem 1rem;
}

.faq-item {
	border: 1px solid #ccc;
	border-radius: 8px;
	margin-bottom: 1rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s;
}

.faq-item:hover {
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.faq-item .accordion-header {
	background-color: #ffffff;
	border: none;
}

.faq-item .accordion-body {
	background-color: #f9f9f9;
}

.faq-item .accordion-button {
	color: #333;
	font-weight: 600;
}

.faq-header {
	font-size: 2rem;
	color: #2c2f36;
	margin-bottom: 1rem;
	padding-top: 10px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
/* ================= footer===================== */
.footer-container {
	background-color: #020721;
	color: #fff;
	padding: 1rem 0;
	font-size: 0.85rem;
}

.footer-title {
	font-size: 1.1rem;
	font-weight: bold;
	color: #fff;
	margin-bottom: 0.5rem;
}

.footer-text {
	color: #bbb;
	line-height: 1.4;
}

.footer-links {
	list-style-type: none;
	padding: 0;
}

.footer-link {
	color: #bbb;
	text-decoration: none;
	margin-bottom: 0.3rem;
	display: block;
}

.footer-copyright {
	color: #bbb;
	margin-top: 0.5rem;
	font-size: 0.75rem;
}
