.text-lighter {
	font-weight: 200;
}

.text-bold {
	font-weight: 600;
}

.text-muted {
	font-weight: 400;
	color: hsl(229, 6%, 66%);
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header h3 {
	font-size: 30px;
	margin: 0px auto;
}

header p {
	text-align: center;
}

.main {
	margin: 20px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 25px;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.card {
	position: relative;
	width: 320px;
	padding: 35px;
	box-shadow: 0.5px 0.5px 12px 0px #80808042;
	box-sizing: border-box;
	border-radius: 5px;
	margin: 15px;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.card-body {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card .card-body .card-title {
	font-size: 17px;
}

.card .card-body .card-text {
	font-size: 12px;
	margin-top: 8px;
}

.card .card-footer {
	margin-top: 20px;
}

.card .card-footer .card-img {
	display: flex;
	flex-direction: row-reverse;
}

.card .card-footer .card-img img {
	width: 50px;
	height: 50px;
}

@media only screen and (max-width: 1000px) {
	body {
		height: unset;
		margin: 60px auto;
	}

	header h3 {
		text-align: center;
		font-size: 22px;
	}

	main {
		flex-direction: column;
	}
}

.card-number {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	background-color: #041c94;
	padding: 15px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 20px;
	top: -30px;
}

.card {
	position: relative;
}
