.blog-section {
	padding: 1.5rem;
}

.blog-header {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
	color: #343a40;
	text-align: center;
}

.card {
	position: relative;
	width: 100%;
	max-width: 500px;
	padding: 20px;
	box-shadow: 0.5px 0.5px 12px 0px #80808042;
	box-sizing: border-box;
	border-radius: 5px;
	margin: 15px auto;
}

.card-title {
	font-size: 1.25rem;
	font-weight: 600;
	color: #007bff;
}

.card-text {
	font-size: 1rem;
	color: #495057;
	margin-top: 0.8rem;
}

.read-time {
	font-size: 12px;
	color: #6c757d;
}

.Readmore {
	text-decoration: none;
	color: #343a40 !important;
	font-size: 0.7rem;
	font-weight: bold;
	display: inline-flex;
	align-items: center;
	margin-top: 10px;
	padding-top: 20px;
}

.article-link {
	color: #007bff;
	text-decoration: none;
	font-size: 1rem;
}

.article-link:hover {
	text-decoration: none;
	color: #15d3f9;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.blog-header {
		font-size: 1.75rem;
	}

	.card-title {
		font-size: 1.1rem;
	}

	.card-text {
		font-size: 0.9rem;
	}
}

@media (max-width: 576px) {
	.blog-header {
		font-size: 1.5rem;
	}

	.card-title {
		font-size: 1.1rem;
	}

	.card-text {
		font-size: 0.9rem;
	}
}
