p {
	text-align: center;
}

.main {
	margin: 20px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 25px;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.card {
	position: relative;
	width: 320px;
	padding: 35px;
	box-shadow: 0.5px 0.5px 12px 0px #80808042;
	box-sizing: border-box;
	border-radius: 5px;
	margin: 15px;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.card .card-body .card-title {
	font-size: 17px;
}

.card .card-body .card-text {
	font-size: 12px;
	margin-top: 8px;
}

.card .card-footer {
	margin-top: 20px;
}

.card .card-footer .card-img {
	display: flex;
	flex-direction: row-reverse;
}

.card .card-footer .card-img img {
	width: 30px;
	height: 30px;
}

.card-number {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	background-color: #041c94;
	padding: 15px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 20px;
	top: -30px;
}

.card {
	position: relative;
}

/* ========================= */

@media (min-width: 768px) and (max-width: 1024px) {
	.main {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
	}

	.section {
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
	}

	.card {
		width: 100%;
		box-shadow: 0.5px 0.5px 12px 0px #80808042;
		margin: 0;
	}

	.card-number {
		margin: 0 auto;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.main {
		display: block;
		text-align: center;
		margin: 0 auto;
	}

	.section {
		width: 100%;
		max-width: 400px;
		margin: 20px auto;
	}

	.card {
		width: 100%;
		box-shadow: 0.5px 0.5px 12px 0px #80808042;
		margin: 0;
	}

	.card-number {
		margin: 0 auto;
	}
}
